.mbot{
    margin-bottom: 0;
    margin-top: 0;
    outline: 0px;
}

.bold{
    font-weight:bold;
    color:black;
    
}

.center{
    text-align: center;
}

.labelTok {
    column-width: 80px;
  }


/* Create two equal columns that floats next to each other */
.column {
    float: left;
  }
  
 